.row{   

    background-color:teal;
    color:white;
    font-size:20px;
}
.headshot{
    
   display:block;
  margin-left: auto;
  margin-right: auto;
  width:100px;
  width:300px;
  border-radius:20%; 
   align-items:center;
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}

p{
  justify-content: center;
  display:flex;
    }
    
img{
   width:530px; 
    }
    
.headshot{
    width:200px;
    border-radius:50%;
    
}

.middle2{
    
    
}

.rowFooter{
   display:flex; 
   justify-content:space-around;
   background-color:teal;
    color:white;
    font-size:20px;
        font-size:25px;
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Merienda', cursive;
}

.top{
 display:flex; 
   justify-content:space-around;
   background-color:teal;
    color:white;
    font-size:20px;
        font-size:25px;
    margin-top:5px;
    margin-bottom:5px;
}

.middle{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}

h1{
    justify-content:center;
    display:flex;
    align-items:center;
}

.middle2{
     background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Merienda', cursive;
    
}
